@(style: String = "Scala", playhome: String ="http://www.playframework.org")

<ul class="thumbnails">
    <li class="span8">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/800x268" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x240" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </li>
</ul>

<script type="text/javascript">
    $(".thumbnails").masonary({
       itemSelector: "li"
    });
</script>
